{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Talent Town</title>
        <link rel="icon" type="image/x-icon" href="{% static 'img/logo3.png' %}">
        <!-- CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!-- jQuery and JS bundle w/ Popper.js -->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
    </head>
    <style>
        *{
            margin:0;
            padding: 0;
            box-sizing: border-box;
        }
        .head{
            background-image: url('{% static "img/head2.jpg" %}');
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-size: cover;
            position: relative;
            /* background-position: center bottom; */
			z-index: 0;
        }
    </style>
<body>
    <div class="main_div">
        <div class="profile">
            <div><a href="{% url 'index' %}" >All Videos</a></div>
            <div><a href="{% url 'toprated' %}">Top Rated</a></div>
            <div class="allvideo"><a href="{% url 'categories' %}"   style="color:white"  >Categories</a></div>
            <div><a href="{% url 'notification' %}">Notification</a></div>
            <div><a href="{% url 'upload_media' %}">Upload Video</a></div>
            <div><a href="{% url 'my_account' %}">{{user.FirstName}}</a></div>
            {% if user.role == 'director' %}
                <div><a href="{% url 'add_notification' %}">Add Event</a></div>
            {% endif %}
            
            <div><a href="{% url 'logout' %}">Logout</a></div>
        </div><br><br><br><br>
        <div class="head">
            <div class="text1">
                <h1 style="margin-bottom: 0px; text-align: center;">TALENT TOWN</h1>
            </div>
            
        </div>
        <div class="black">

        </div>
        <br><br><br>
        <div class="head2">
            <div class="head2_left">
                <div style="display: table;margin: 0px auto;">
                    <a class="btn btn-primary my-2 my-sm-0" href="{% url 'categories' %}">Show All Categories</a>
                </div>
            </div>
            <div class="head2_right">
                <h1>New Videos Of The Talent People</h1>
                <p>If you have any type of talent , Then must upload your video on this website.<p>
            </div>
        </div>

       
            <div class="videos">
                {% for i in uv %}
                    {% if i.catagory == fil %}
                <div class="box" >
                    <div class="videos1">
                        <a href="http://google.com">  
                                <video width="100%" controls>
                                    <source src="{{i.video.url}}" type="video/mp4">
                                </video>
                        </a>  
                    </div>
                </div>
                <div class="video_data">
                    <div class="video_text">
                        <h4>Username : {{i.user.FirstName}}</h4><hr>
                        <h4>Title : {{i.title}} </h4><hr>
                        <h4>Category : {{i.catagory}} </h4><hr>
                        <h4>Time : {{i.created_at}} </h4><hr>
                        <form action="{% url 'like' i.id  %}" method="POST">
                            {% csrf_token %}
                            <button type = "submit" class="btn btn-primary">Like</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </form>
                        <hr>
                            <button class="btn btn-success disabled">Total Likes: {{i.likes.count}} </button>&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-danger">Report</button>
                            
                            <hr>
                        <p style="text-align: left;"><b>Description :-</b>{{i.dis}}</p>
                    </div> 
                </div>
                {% endif %}
                {% endfor %}
            </div>   
                
            </div>        

        <br><br>
        <div class="pagenumber" style="display: table;margin: 0px auto;">
        <div>
            <ul class="pagination pagination-lg">
              <li class="page-item">
                <a class="page-link" href="#">Prev</a>
              </li>
              
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
    <a class="btn btn-primary" style="position: fixed; right: 1%; z-index: 100;bottom: 2%;" href="{% url 'index' %}">Home</a>
</body>
</html>