{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talent Town Login</title>
    <link rel="stylesheet" href="{% static 'assets/css/otp_css.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'assets/js/part1_1.js' %}"></script>
    <script src="{% static 'assets/js/part1_1a.js' %}"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <!--start main div-->
    <div class="main_div">
        <!--start left_div-->
        <div class="left_div">
            <div style=" display: inline; margin-left: 25%">
            <img src="{% static 'img/logo3.png' %}" width="50%">
            </div>
            <h1 class="header">Talent Town</h1>
            <p class="head_text">Unlease your inner talent , become a star.</p>
            <br><br>
            <!-- <div class="button1">
            <button type="button" class="btn btn-primary" id="create">Create Account</button>
            <button type="button" class="btn btn-primary" id="sign">Sign In</button>
            </div> -->
        </div>
        <!--End left_div-->
        <!--Start right_div-->
        <div class="right_div">
            <div id="right1">
                
                <form action="{% url 'forgot_password_1' %}" method="POST">
                    {% csrf_token %}
                   <!--  <input type="text" name="email" placeholder="Email Id / Mobile No." size="20"><br>
                    <br> -->
                    <h3 style="font-size: 20px; color: white">	
                        Please enter your email address<br> to search for your account.</h3><br>

                    <input type="email" name="email" placeholder="" size="35" style="color: white;" required><br><br> -->
                    <!-- <input type="hidden" name="otp" value="{{otp}}" >  -->
                    <button type="submit" class="btn btn-primary" style="margin-left:-30px ;">Send Otp</button>
                </form>
                    <!-- <h1>{{otp}}</h1> -->
                {% if msg %}
                    <div class="alert alert-primary" role="alert" style = "margin-top: 10px;">
                            {{msg}}
                    </div>
                {% endif %} 
            </div>
            <div id="right2">
                <!-- <div id="right2a">
                    <form>
                    
                        <input type="text" name="fname" placeholder="First Name" size="20"><br>
                        <br>
                        <input type="text" name="lname" placeholder="Surname" size="20"><br>
                        <br>
                        <input type="text" name="mobile" placeholder="Mobile Number" size="20"><br>
                        <br>
                        <input type="text" name="mail" placeholder="Email Id" size="20"><br>
                        <br>
                        <input type="password" name="password" placeholder="Password" size="20"><br>
                        <br>
                        <input type="password" name="check_pass" placeholder="Check Password" size="20">
                        <br><br>
                        <button type="submit" class="btn btn-primary"><a href="{% static 'index.html' %}" style="color: white;">Sign in</a></button>
                    </form>
                </div> -->
            </div>
        </div>
        <!--End right_div-->
    </div>
    <!--end main div-->
</body>
</html>