{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div style="margin-top: 100px;">
        <video controls autoplay muted width="50%">
			<source src="{% static 'acting1.mp4' %}" type="video/mp4">
		</video>
    </div>
    <a class="btn btn-primary" style="position: fixed; right: 1%; z-index: 100;bottom: 2%;" href="{% url 'index' %}">Home</a>

</body>
</html>